#todoapp.filter-active #todo-list .completed,
#todoapp.filter-completed #todo-list .active {
  display: none;
}

#footer {
  display: none;
}

#filters{
    padding: 5px;
}


p.todoDate{
    font-size: 12px;
    margin-left: 45px;
    margin-top:0px;
    padding-left: 15px;
    
}
